<div class="volumeManager">
  <div class="row">
    <!-- <button ng-click="volumeManager.playerService.toggleMute()">
      <i class="fa fa-volume-off"></i>
    </button> -->
    <div class="volumeDown col-xs-offset-3">
      <button
          class="btn-link hidden-xs"
          ng-click="volumeManager.playerService.toggleMute()"
          ng-class="{active: volumeManager.playerService.state.mute}"
          >
          <i class="fa fa-volume-off"></i>
      </button>
      <button
          class="btn-link"
          ng-click="volumeManager.playerService.volumeDown()"
          >
        <i class="fa fa-volume-down"></i>
      </button>
    </div>

    <div
        class="volumeSlider"
        >
      <slider
          ng-model="volumeManager.volume"
          min="0"
          step="1"
          max="100"
          slider-tooltip="hide">
      </slider>
    </div>

    <div class="volumeUp">
      <button
          class="btn-link"
          ng-click="volumeManager.playerService.volumeUp()"
          >
        <i class="fa fa-volume-up"></i>
      </button>
    </div>
  </div>
</div>
