<div id="multiRoomManager">
  <div class="row">
    <div class="box">
      <div class="boxHeader">
        <div class="title">
          <h2 translate="MULTIDEVICE.MULTI_ROOM_CONFIGURATION"></h2>
        </div>
        <div class="buttons">
          <button
              class="btn-link"
              ui-sref="volumio.playback">
              <i class="fa fa-home"></i>
          </button>
        </div>
      </div>
      <div ng-repeat="device in multiRoomManager.multiRoomService.multiRoomDevices"
          id="{{device.name}}"
          ng-drag="!device.clients"
          ng-drag-success="onDragComplete($data, $event)"
          ng-drag-data="device">
        <div
            class="droppableleArea"
            ng-drop="true"
            ng-drop-success="multiRoomManager.onDropComplete($data, device, $event)">
          <div
              class="device"
              ng-class="{'draggable': !device.clients, 'hasClients': device.clients}"
              ng-click="multiRoomManager.toggleClientsView(device)">
            <div class="deviceIcon hidden-xs">
              <img ng-src="{{variantAssetsUrl + '/icons/device-icon-' + (device.clients.length + 1 || 1) + '.png'}}"/>
            </div>

            <div class="albumArt hidden-sm hidden-xs">
              <img
                  ng-if="device.server.albumart"
                  ng-src="{{multiRoomManager.playerService.getAlbumart(device.server.albumart)}}"/>
              <img
                  ng-if="device.albumart"
                  ng-src="{{multiRoomManager.playerService.getAlbumart(device.albumart)}}"/>
            </div>

            <div class="deviceDescription">
              <div class="deviceName">
                <strong ng-if="device.clients"><span translate="MULTIDEVICE.GROUP"></span> - </strong>
                {{device.server.name || device.name}}
              </div>
              <span translate="MULTIDEVICE.NOW_PLAYING"></span>
              {{device.server.artist || device.artist}} -
              {{device.server.song || device.song}}
            </div>

            <div class="deviceVolume">
              <i ng-if="!device.server" class="fa fa-volume-off hidden-xs"></i>
              <div>
                <slider
                    ng-if="!device.server"
                    ng-model="device.volume"
                    ng-change="multiRoomManager.changeChildVolume(device.ip, device.volume)"
                    min="0"
                    step="1"
                    max="100"
                    slider-tooltip="hide">
                </slider>
              </div>
              <i ng-if="!device.server" class="fa fa-volume-up hidden-xs"></i>
            </div>
            <div class="clearfix"></div>
          </div>

          <div ng-if="device.clients" class="clearfix"></div>

          <!-- Server -->
          <div class="row" ng-if="device.clients">
            <div class="childDevice">
              <!-- <div class="deviceIcon"></div> -->

              <!-- <div class="albumArt"></div> -->

              <div class="deviceDescription child">
                <div class="deviceName">
                  {{device.server.name}}
                </div>
              </div>

              <div class="deviceVolume">
                <i class="fa fa-volume-off hidden-xs"></i>
                <slider
                    ng-model="device.server.volume"
                    ng-change="multiRoomManager.changeChildVolume(device.server.ip, device.server.volume)"
                    min="0"
                    step="1"
                    max="100"
                    slider-tooltip="hide">
                </slider>
                <i class="fa fa-volume-up hidden-xs"></i>
              </div>

              <div class="removeDevice">
                <!-- <button class="btn btn-link"
                    ng-click="multiRoomManager.removeChildDevice(device, childDevice)">
                  <i class="fa fa-trash-o"></i>
                </button> -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End server -->

          <div
              ng-repeat="childDevice in device.clients"
              ng-show="true || device.clientVisible"
              id="{{childDevice.name}}"
              class="row">

            <div class="childDevice">
              <!-- <div class="deviceIcon"></div> -->

              <!-- <div class="albumArt"></div> -->

              <div class="deviceDescription child">
                <div class="deviceName">
                  {{childDevice.server.name || childDevice.name}}
                </div>
              </div>

              <div class="deviceVolume">
                <i class="fa fa-volume-off hidden-xs"></i>
                <slider
                    ng-model="childDevice.volume"
                    ng-change="multiRoomManager.changeChildVolume(childDevice.ip, childDevice.volume)"
                    min="0"
                    step="1"
                    max="100"
                    slider-tooltip="hide">
                </slider>
                <i class="fa fa-volume-up hidden-xs"></i>
              </div>

              <div class="removeDevice">
                <button class="btn btn-link"
                    ng-click="multiRoomManager.multiRoomService.removeChildDevice(childDevice.ip)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
